[Desktop Entry]
Type=Application
Version=1.0
Name=top
GenericName=System Monitor
Comment=Resource monitor that shows usage and stats for processor, memory, disks, network and processes
Icon=starred
Exec=st -e btop
Terminal=false
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
X-XFCE-Source=file:///usr/share/applications/btop.desktop
Path=
StartupNotify=false
